# Arquivos e diretórios a serem ignorados pelo Docker

# Dependências
node_modules
npm-debug.log

# Sistema de controle de versão
.git
.gitignore

# Ambiente de desenvolvimento
.env.local
.env.development
.env.test
*.log
.DS_Store

# Outros
README.md
Dockerfile
.dockerignore